@import url('https://fonts.googleapis.com/css2?family=Covered+By+Your+Grace&display=swap');
.brandName{
    font-family: 'Covered By Your Grace', cursive;
}
.btn-brand {
    /* color: #F3D92C; */
    font-weight: 600;
    border: 1px solid #F3D92C;
    /* background-color: #F3D92C; */
}
.btn-brand:hover{
    background-color: #F3D92C;
}
.bg-brand{
    background-color: #F3D92C;
}
.text-brand{
    color: #F3D92C;
    font-weight: bold;
}
.text-brand-lite{
  color: #F3D92C;
}